header  {
    text-align: center;
    border-style: solid;
    background-color: grey;
    color: white;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding: 20px;
}

.main-grid {
    display: grid;
    grid-template-rows: 100px;
    text-align: center;
    border-style: solid;
}