header, footer {
    background-color: #203F5F;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;
    border-radius: 10px;
}

header h1, h2 {
    margin: 5px 0 5px 0;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Courier New', Courier, monospace;

}

img {
    border: 1px solid black;
    object-fit: cover;
    margin: auto;

}


.principle {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}

.principle h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.principle-header {
    background-color: #2E5A88;
    border-radius: 20px 20px 0 0;
    color: white;
}

main{
    background-color: grey;
}





